* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #333;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #f1fff5;
  border-right: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  color: #047721;
  margin-bottom: 20px;
}

.menu a, .pinned a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 8px 0;
  font-size: 14px;
}

.pinned {
  font-weight: bold;
  margin-top: 30px;
}

.heading{
    color: #047721;
    font-size: 20px;
    font-weight: 800;
}
.plan {
  background: #047721;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.plan p {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topbar input {
  width: 60%;
  padding: 8px 12px;
  border: 1px solid #047721;
  border-radius: 8px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-primary{
color: #047721;
}

.sale {
  background: #047721;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.sale span {
  background: #fff;
  color: #000;
  padding: 2px 6px;
  border-radius: 6px;
  font-weight: bold;
}

.profile {
  width: 32px;
  height: 32px;
  background: #bbb;
  border-radius: 50%;
}

/* Quick Actions */
.quick-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.quick-actions button {
  background: #f1fff5;
  border: 1px solid #ddd;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

/* Tabs */
.tabs {
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #555;
}

.tabs .active {
  border-bottom: 2px solid #000;
  font-weight: bold;
  color: #000;
}

/* Cards */
.cards {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
height: 220px;
border-radius: 12px;
padding: 15px;
color: #fff;
display: flex;
flex-direction: column;
justify-content: flex-end;
background-size: cover;
background-position: center;
box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.card p {
  font-size: 13px;
}

/* Learn by doing */
.learn {
  margin-top: 40px;
}

.learn h2 {
  color: #047721;
  font-weight: 800;
  margin-bottom: 15px
}

.learn-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.learn-tabs button {
  background: #f1fff5;
  border: 1px solid #ddd;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
}

.learn-tabs .active {
  background: #047721;
  color: #fff;
  border: none;
}

.learn-cards {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.learn-card {
  border-radius: 12px;
  overflow: hidden;
  background: #f1fff5;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.learn-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.learn-card p {
  padding: 10px;
  font-size: 14px;
}
